[submodule "angular-spring-boot-project"]
	path = angular-spring-boot-project
	url = https://github.com/ikeogbodo/angular-spring-boot-project.git
[submodule "books-client"]
	path = books-client
	url = https://github.com/ikeogbodo/angular-spring-boot-project.git
